html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans JP', sans-serif;
  color: #fff;
  font-size: 18px;
  user-select: none; 

  .container {
    width: 1260px;
    margin: 0 auto;
  }

  ::-webkit-scrollbar {
    width: 15px;
    background-color: rgb(20, 20, 20);
  }

  ::-webkit-scrollbar-thumb {
    background-color: #D0E5E5;
    border-radius: 3px;
  }

  .scroll-up-round {
    background-color:  rgba(255, 255, 255, 0.6); 
    position: fixed;
    bottom: 16%;
    right: 2%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.5s;
    pointer-events: none;
    opacity: 0;
  }

  .scroll-up-round:hover {
    transform: scale(1.1);
    background-color:  rgba(255, 255, 255, 0.9); 
  }

  .scroll-up-round-active {
    pointer-events: auto;
    opacity: 1;
  }

  .scroll-up-round:hover .scroll-up {
    transform: scale(1.1);
    color:  rgba(183, 224, 224, 0.9); 
  }

  .scroll-up {
    font-size: 250%;
    color:  rgba(183, 224, 224, 0.6); 
    transition: 0.3s;
  }
}
